@import './base.css';

#app {
  max-width: none;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(244, 21%, 15%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /* place-items: center;  // 去掉这一行 */
    align-items: flex-start;
    /* 或直接删掉整块 body 规则 */
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;

  }

}
